[submodule "cmake-ide"]
	path = cmake-ide
	url = https://github.com/Nidish96/cmake-ide.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "yasnippet-ess"]
	path = yasnippet-ess
	url = https://github.com/jrnold/yasnippet-ess.git
