*.un
*~
.cask/*
/bookmarks
/ac-comphist.dat
chess/
/config.el
*.elc
elpa/
emms/
eshell/
/eww-bookmarks
games/
/html-preview/
/ido.last
/irony-mode/
/irony/bin/irony-server
irony/
/network-security.data
/org-clock-save.el
/recentf
scilab-mode/
/srecode-map.el
/timelog
url/
/workgroups2/
